<app-image-slider *ngIf="pageload === false" [movielist]="movielist"></app-image-slider>
<section class="movie-trending">
  <h3 class="movie-trending__title">Trending</h3>
  <div class="container">
    <div class="center-element mt-5 mb-5" *ngIf="pageload === true">
      <app-tm-ani-default></app-tm-ani-default>
    </div>
    <ng-container *ngIf="pageload === false">
      <div class="row">
        <div class="movie-list col-3" *ngFor="
            let list of movielist
          ">
          <app-movie-card [movieDetails]="list"></app-movie-card>
        </div>
      </div>
    </ng-container>
    <div class="center-element">
      <app-pagination-controls (pageChange)="pageChanged($event)"></app-pagination-controls>
    </div>
  </div>
</section>
